# Entorno virtual
.venv/
venv/
env/

# Seguridad (API Keys)
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# Python basura/cache
__pycache__/
*.pyc

# Datos (opcional, por si descargas CSVs pesados con pandas)
*.csv
*.json